{% extends 'body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    {% block head_form %}
        <!-- Bootstrap Touchspin -->
        <link href="{% static 'lib/bootstrap-touchspin/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
        <script src="{% static 'lib/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
        <!-- archivo JS -->
        <script src="{% static 'tiposIVA/js/form.js' %}"></script>
    {% endblock %}
{% endblock %}
{% block content %}
    <form id="ajaxForm" method="post" action="." enctype="multipart/form-data">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                    <a href="#" class="btn btn-flat">
                        <i class="far fa-question-circle verAyuda" style="color:darkblue"></i>
                    </a>
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {#Error en el Formulario#}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible errorForm">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <input type="hidden" name="action" value="{{ action }}">
                <div class="row">
                    <div class="form-group col-9 mb-3" data-intro="Ingrese el nombre del Tipo de IVA">
                        <label>Tipo de IVA:</label>
                        {{ form.nombre|add_class:'form-control'|attr:'autocomplete:off'|attr:'required:true' }}
                    </div>
                    <div class="form-group col-3 mb-3" data-intro="Ingrese el porcentaje del Tipo de IVA">
                        <label>Porcentaje:</label>
                        <div class="col-12" class="form-control">
                            {{ form.iva|add_class:'form-control'|attr:'autocomplete:off'|attr:'required:true' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {#Mensaje de error#}
                <ul id="errorList" class="alert-danger"></ul>
                {#Botones#}
                <button type="submit" id="btnEdit" class="btn btn-primary btn-flat btnEdit"
                        data-intro="Hacer click para guardar el registro de {{ entity }}">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat"
                   data-intro="Hacer click para cancelar y regresar al listado de {{ entity }}">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}