{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'gestionTipoEventos/js/list2.js' %}"></script> <!-- si lo renombro a list.js NO ANDA (??????) -->
{% endblock %}

{% block columns %}
      <tr>
        <th scope="col" style="width: 15%;">Tipo Evento</th>
        <th scope="col" style="width: 10%;">Hs. Recordatorio</th>
        <th scope="col" style="width: 10%;">Notif. Sistema</th>
        <th scope="col" style="width: 10%;">Notif. Telegram</th>
        <th scope="col" style="width: 10%;">A Usuario</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
