{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'gestionTipoEventos/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Tipo Evento</th>
        <th scope="col" style="width: 10%;">Hs. Recordatorio</th>
        <th scope="col" style="width: 5%;">Notif. Sistema</th>
        <th scope="col" style="width: 5%;">Notif. Telegram</th>
        <th scope="col" style="width: 5%;">Notif. Email</th>
        <th scope="col" style="width: 5%;">A Usuario</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
