{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'gestionNotificaciones/js/list3.js' %}"></script> <!-- si lo renombro a list.js NO ANDA (??????) -->
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}
                    <tr>
                        <th scope="col" style="width: 15%;">Días de Antelación</th>
                        <th scope="col" style="width: 10%;">Lunes</th>
                        <th scope="col" style="width: 10%;">Martes</th>
                        <th scope="col" style="width: 10%;">Miercoles</th>
                        <th scope="col" style="width: 10%;">Jueves</th>
                        <th scope="col" style="width: 10%;">Viernes</th>
                        <th scope="col" style="width: 10%;">Sábado</th>
                        <th scope="col" style="width: 10%;">Domingo</th>
                        <th scope="col" style="width: 10%;">Opciones</th>
                    </tr>
                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% if notifCreada == 'verdadero' %}

            {% elif notifCreada == 'falso' %}
                <a href="{{ create_url }}" class="btn btn-primary btn-flat">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
            {% endif %}
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="submitModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjErrorModal">¿Estás seguro de eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btnDelete">Si</button>
                    <button type="button" class="btn btn-danger btnNo" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>




    <script type="application/javascript">
        //Llamamos a la funcion de Token
        getToken(name);
        //Funcion para Eliminar mediante AJAX
        function btnEliminar(id, href) {
            // Reactivación de botón y mensaje a default.
            $('.btnDelete').attr('style', 'visibility: true');
            $('.btnNo').text("No");
            $('#msjErrorModal')[0].innerHTML = '¿Estás seguro de eliminar el registro?';

            $('.btnDelete').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: href,
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'action': 'delete',
                        'pk': id,
                    },
                    success : function (data){
                        // Control de eliminación de un registro que es dependencia de otros.
                        if (data.check === 'ok'){
                            location.replace(data.redirect);
                        }else if(data.check === 'FOREIGN KEY constraint failed'){
                            $('#msjErrorModal')[0].innerHTML = 'El registro que desea eliminar posee otros registros que dependen de él. <br><br>' +
                                '<strong>No puede ser eliminado</strong>'
                            $('.btnDelete').attr('style', 'visibility: hidden');
                            $('.btnNo').text("Volver");
                            // En caso de que la Exception sea por otra cosa
                        }else{
                            $('#msjErrorModal')[0].innerHTML = 'Ha ocurrido un error inesperado. Contacte al administrador';

                            $('.btnDelete').attr('disabled', '');
                            //$('.btnDelete').style.display = 'none';
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}


{% block javascript %}

{%  endblock %}


