{% extends 'body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.css' %}"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Moment -->
    <!-- AGREGAMOS PARA VER FORMATEAR LA FECHA A DD-MM-YYYY -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/moment-with-locales.js' %}"></script>
    <!-- dataTables Sorting -->
    <script src="{% static 'lib/datatables-sorting/datetime-moment.js' %}"></script>
    <!-- dataTables Clear Filter -->
    <script src="{% static 'lib/datatables-filter-clear/fnFilterClear.js' %}"></script>
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/locale/es.js' %}"></script>
    <!-- Select2 -->
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"
          rel="stylesheet"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/i18n/es.js' %}"></script>
    <!-- Tempus Dominus -->
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Archivo JS -->
    <script src="{% static 'ventas/js/audit.js' %}"></script>
    <!-- Estilo renglones -->
    <style>
        .highlight {
            background: lightgrey;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <label>Filtros: <i class="fas fa-angle-down showFilters"></i> </label>
            <div class="row" id="filters">
                <div class="form-group col-4">
                    <label>Cliente:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectCliente" id="selectCliente"
                                name="selectCliente" aria-label="selectCliente">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Fechas:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="filterRangoFechas"
                               placeholder="Seleccione Rango de Fechas" aria-label="filterRangoFechas"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Accion:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectAccion" id="selectAccion"
                                name="selectAccion" aria-label="selectAccion">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Usuarios:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectUsuario" id="selectUsuario"
                                name="selectUsuario" aria-label="selectUsuario">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-1">
                    <label class="mb-4"></label>
                    <div class="card-row">
                        <button type="button" class="btn btn-danger btn-flat btnResetFilters"><i
                                class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table" id="data">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">ID</th>
                            <th scope="col" style="width: 15%;">Fecha y Hora</th>
                            <th scope="col" style="width: 5%;">Venta</th>
                            <th scope="col" style="width: 30%;">Cliente</th>
                            <th scope="col" style="width: 10%;">Trabajo</th>
                            <th scope="col" style="width: 15%;">Accion</th>
                            <th scope="col" style="width: 15%;">Usuario</th>
                            <th scope="col" style="width: 5%;">Ver</th>
                        </tr>
                        </thead>
                        {% block rows %}

                        {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form id="reporteForm" method="post" action="." enctype="multipart/form-data">
                <a href="{{ list_url }}" class="btn btn-success btn-flat">
                    <i class="fas fa-sync"></i> Actualizar
                </a>
                <button type="submit" class="btn btn-info btn-flat btnReporte">
                    <i class="fas fa-file-pdf"></i> Generar Reporte
                </button>
            </form>
        </div>
    </div>
    <!-- Modal Venta -->
    <div class="modal fade" id="modalVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="formVenta" enctype="multipart/form-data" method="post">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-search"></i> Ver movimiento </b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4 mb-3">
                                <label>Cliente:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCliente" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalClienteOld" style="color: red;">"</span>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label>Condición:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCondicion" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalCondicionOld" style="color: red;"> </span>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label>Medio de pago:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalMedioPago" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalMedioPagoOld" style="color: red;"> </span>
                            </div>
                            <div class="form-group col-2 mb-3">
                                <label>Fecha:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalFecha" readonly>
                                </div>
                                <span class="spanForm" hidden class="col-12" id="modalFechaOld"
                                      style="color: red;"> </span>
                            </div>
                        </div>
                        <div class="row" id="rowProductos">
                            <div class="col-lg-12">
                                <div class="card card-secondary">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de productos</h3>
                                    </div>
                                    <table class="table table-bordered" id="tablaProductos">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 5%;">ID</th>
                                            <th scope="col" style="width: 15%;">Fecha y Hora</th>
                                            <th scope="col" style="width: 40%;">Producto</th>
                                            <th scope="col" style="width: 10%;">Importe</th>
                                            <th scope="col" style="width: 5%;">Cantidad</th>
                                            <th scope="col" style="width: 8%;">Subtotal</th>
                                            <th scope="col" style="width: 7%;">Estado</th>
                                            <th scope="col" style="width: 10%;">Usuario</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="rowServicios">
                            <div class="col-lg-12">
                                <div class="card card-secondary">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de Servicios</h3>
                                    </div>
                                    <table class="table table-bordered" id="tablaServicios">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 5%;">ID</th>
                                            <th scope="col" style="width: 15%;">Fecha y Hora</th>
                                            <th scope="col" style="width: 40%;">Servicio</th>
                                            <th scope="col" style="width: 10%;">Importe</th>
                                            <th scope="col" style="width: 5%;">Cantidad</th>
                                            <th scope="col" style="width: 8%;">Subtotal</th>
                                            <th scope="col" style="width: 7%;">Estado</th>
                                            <th scope="col" style="width: 10%;">Usuario</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mb-3">
                                <label>Subtotal:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalSubtotal" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalSubtotalOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>IVA:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalIva" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalIvaOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>Percepción:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalPercepcion" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalPercepcionOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>Total a pagar:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalTotal" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalTotalOld" style="color: red;"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}