{% extends 'body.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/fullcalendar/main.css' %}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.css' %}">
    <!-- Tempus Dominus -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/dropzone/min/dropzone.min.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <div class="sticky-top mb-3">
                <!-- /.card -->

                <form id="formAgenda" action="." method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Crear un evento</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <label>Tipo de evento</label>
                                    {{ form.tipoEvento }}
                                </div>
                                <div class="col-12 mb-4">
                                    <label>Descripción</label>
                                    {{ form.descripcion }}
                                </div>
                                <div class="col-12 mb-4">
                                    <label>Fecha de Notificación</label>
                                    <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                        {{ form.fechaNotificacion }}
                                        <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-1">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="repite">
                                        <label for="customCheckbox1" class="custom-control-label"> Se repite</label>
                                    </div>
                                </div>
                                <div class="col-8 mb-4">
                                    {{ form.repeticion }}
                                </div>
                                <hr class="accent-blue">
                                <div class="col-12">
                                    <button type="submit" id="btnAdd" class="btn btn-primary btn-flat btnAdd">
                                        <i class="fas fa-save"></i> Registrar Evento
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-body p-0">
                    <!-- THE CALENDAR -->
                    <div id="calendar">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>



{% endblock %}
{% block javascript %}
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/moment.min.js'%}"></script>

    <!-- IMPORTANTE. Para poner en español algunos complementos en AdminLTE3 se necesita de moment.js -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/locale/es.js'%}"></script>

    <script src="{% static 'lib/adminlte-3.1.0/plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/fullcalendar/main.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/fullcalendar/locales-all.min.js' %}"></script>

    <!-- Inicialización de datimepicker -->
    <script>
        //Date picker
        $('#reservationdatetime').datetimepicker({
            minDate: new Date(),
            format: 'DD/MM/yyyy HH:mm',
            locale: 'es',
            icons: {time: 'far fa-clock' },
        });
    </script>



    <!-- Inicialización de fullCalendar -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                events: [
                    {% for evento in eventos %}
                        {
                            id: "{{ evento.id }}",
                            title: "{{ evento.tipoEvento }}" ,
                            start: "{{ evento.fechaNotificacion|date:"Y-m-d" }}",
                        },
                    {% endfor %}
                ],
                // Opciones  básicas
                initialView: 'dayGridMonth',
                locale: 'es',
                height: 650,
                headerToolbar: {
                    left: 'dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prevYear,prev,next,nextYear'
                },
                eventClick: function(info) {


                    // Al hacer click en cualquier evento, nos vamos para otro lado.
                    location.replace('/' + '{{ update_url }}' + info.event.id);

                    // Obtenemos token de autentificaci{on
                    {% comment %}getToken(name);
                    $.ajax({
                        url: '{{ update_url }}' + info.event.id,
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': csrftoken,
                            'action': 'edit',
                            'pk': info.event.id,
                        },
                        success : function (data){
                            console.log("volvimos del server");
                            // Control de eliminación de un registro que es dependencia de otros.

                        }
                    });{% endcomment %}

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                }

                // Adquisición de eventos ya almacenados


            });
            calendar.render();
        });
    </script>


    <!-- Funcionalidad de toggle en caso de que se desee repetición -->
    <script>
        $('#customCheckbox1').on('click', function (){
            if (this.checked) {
                $('#selectRepeticion').prop('disabled', false); // If checked enable item
            } else {
                $('#selectRepeticion').prop('disabled', true); // If checked disable item
            }
        });
    </script>

    <!--
    <script>
        $("#formAgenda").on('submit', function(e){
            e.preventDefault();

        });
    </script>
    -->


{% endblock %}








