{% extends 'body.html' %}
{% load static %}
<!-- CONTIENE EL CALENDARIO PRINCIPAL Y ES UNA PANTALLA TODO_EN_UNO DE ABM de eventos -->
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/fullcalendar/main.css' %}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.css' %}">
    <!-- Tempus Dominus -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/dropzone/min/dropzone.min.css' %}">
    <!-- select2 -->
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"
          rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Modal para eliminar evento -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjErrorModal">¿Estás seguro de eliminar el registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnDelete" id_evento="" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario para crear evento -->
    <div class="row">
        <div class="col-md-3">
            <div class="sticky-top mb-3">
                <form id="formAgenda" action="." method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Crear un evento</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="col-12 mb-4">
                                    <label>Tipo de evento</label>
                                    {{ form.tipoEvento }}
                                </div>
                                <div class="col-12 mb-4">
                                    <label>Descripción</label>
                                    {{ form.descripcion }}
                                </div>
                                <div class="col-12 mb-4">
                                    <label>Fecha de Notificación</label>
                                    <div class="date" id="fechaNotificacio" data-target-input="nearest">
                                        {{ form.fechaNotificacion }}
                                    </div>
                                </div>
                                <div class="col-12 mb-1">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="repite">
                                        <label for="customCheckbox1" class="custom-control-label"> Se repite</label>
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    {{ form.repeticion }}
                                </div>
                                {% if action == 'add' %}
                                    <div class="col-12">
                                        <button type="submit" id="btnAdd" class="btn btn-primary btn-flat btnAdd">
                                            <i class="fas fa-save"></i> Registrar
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="col-6">
                                        <button type="submit" id="btnAdd" class="btn btn-primary btn-flat btnAdd">
                                            <i class="fas fa-save"></i> Registrar
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'agenda:dashboard' %}"><button type="button" id="btnVolverEvento" class="btn btn-info btn-flat btn-block">
                                            <i class="fas fa-undo"></i> Volver
                                        </button></a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Calendario -->
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-body p-0">
                    <div id="calendar">
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal edit/delete -->
        <div class="modal fade" id="modal-lg-eventos" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Opciones de Evento</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2 row">
                            <div class="col-6">
                                <strong>TIPO EVENTO </strong>
                                <i>
                                    <p id="modal_tipo_evento"></p>
                                </i>
                                <strong>DESCRIPCIÓN </strong>
                                <i>
                                    <p id="modal_descripción"></p>
                                </i>
                            </div>
                            <div class="col-6">
                                <strong>FECHA DE NOTIFICACIÓN </strong>
                                <i>
                                    <p id="modal_fecha_notif"></p>
                                </i>
                                <strong>REPETICIÓN</strong>
                                <i>
                                    <p id="modal_repeticion"></p>
                                </i>
                            </div>
                            <div class="col-6">
                                <strong>USUARIO ASOCIADO </strong>
                                <i>
                                    <p id="modal_user_asoc"></p>
                                </i>
                            </div>
                            <div class="col-6">
                                <strong>NOTIFICADO MEDIANTE </strong>
                                <i>
                                    <p id="modal_tipo_notif"></p>
                                </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <!-- cambiar a dubmit dsp -->
                                <button type="button" id="btnMod" evento_id="" class="btn btn-warning btn-flat btn-block">
                                    <i class="fas fa-save"></i> Modificar Evento
                                </button>
                            </div>
                            <div class="col-6">
                                <button type="button"  id="btnDel" evento_id="" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-flat btn-block">
                                    <i class="fas fa-trash-alt"></i> Eliminar Evento
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
{% block javascript %}
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/moment.min.js'%}"></script>

    <!-- IMPORTANTE. Para poner en español algunos complementos en AdminLTE3 se necesita de moment.js -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/locale/es.js'%}"></script>

    <script src="{% static 'lib/adminlte-3.1.0/plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/fullcalendar/main.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/fullcalendar/locales-all.min.js' %}"></script>

    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/i18n/es.js' %}"></script>

    <!-- Inicialización de datimepicker -->
    <script>
        //Date picker
        $('#fechaNotificacio').datetimepicker({
            format: 'DD-MM-yyyy',
            locale: 'es',
            icons: {date: 'far fa-calendar-alt'},
        });
    </script>


    <!-- Inicialización de fullCalendar -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                events: [
                    {% for evento in eventos %}
                        {
                            id: "{{ evento.id }}",
                            title: "{{ evento.tipoEvento }}" ,
                            start: "{{ evento.fechaNotificacion|date:"Y-m-d" }}",
                            repeat: 1
                        },
                    {% endfor %}
                ],
                // Opciones  básicas
                initialView: 'dayGridMonth',
                locale: 'es',
                height: 650,
                headerToolbar: {
                    left: 'dayGridMonth',
                    center: 'title',
                    right: 'prevYear,prev,next,nextYear'
                },

                // Ubicar contenido de un evento en formulario para su posterior mod o eliminacion.
                eventClick: function(info) {
                    info.el.style.borderColor = 'red';
                    $('#modal-lg-eventos').modal();
                    dataToModal(info.event.id);
                    $('#btnMod').attr('evento_id', info.event.id);
                    $('#btnDelete').attr('evento_id', info.event.id);

                    // Al hacer click en cualquier evento, nos vamos al link de editar evento.
                    //location.replace('/' + '{{ update_url }}' + info.event.id);

                }
            });
            calendar.render();
        });

        function dataToModal(id_evento){
            getToken(name);
            $.ajax({
                url: '{{ dashboard_url }}',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'search_data',
                    'pk' : id_evento
                },
                success : function (data){
                    document.getElementById('modal_tipo_evento').innerHTML = data.tipoEvento;
                    document.getElementById('modal_descripción').innerHTML = data.descripcion;
                    document.getElementById('modal_user_asoc').innerHTML = data.userAsoc;
                    document.getElementById('modal_fecha_notif').innerHTML = data.fechaNotif;
                    document.getElementById('modal_repeticion').innerHTML = data.repeticion;

                    let notifMsj = "";
                    for (let i = 0; i <= 2; i++){
                        if(data.notifMediante[i][1] === true){
                            notifMsj = notifMsj + data.notifMediante[i][0] + " | ";
                        }
                    }
                    document.getElementById('modal_tipo_notif').innerHTML = notifMsj.slice(0, -2);

                }
            });
        }
    </script>

    <script>
        $('#btnMod').click(function(){
            evento_id = $('#btnMod').attr('evento_id');
            location.replace('/' + '{{ update_url }}' + evento_id);
        });
    </script>

    <script>
        $('#btnDel').on('click', function() {
            $('#modal-lg-eventos').modal('hide'); // Escondemos el modal
            $('#deleteModal').modal('show') //Abrimos modal de confirmacion
        });

        // Obtiene id de evento y hace ajax request para borrar
        $('#btnDelete').on('click', function (){
            getToken(name);

            id_evento = $('#btnDelete').attr('evento_id'); // Obtiene id

            $.ajax({
                url: '{{ delete_url }}' + id_evento + '/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'delete',
                    'pk' : id_evento
                },
                success : function (data){
                    // Control de eliminación de un registro que es dependencia de otros.
                    if (data.check === 'ok'){
                        location.replace(data.redirect);
                    }else {
                        console.log('algo salió mal');
                    }
                }
            });
        });
    </script>


    <!-- Funcionalidad de toggle en caso de que se desee repetición. Activa desactiva select -->
    <script>
        $('#customCheckbox1').on('click', function (){
            if (this.checked) {
                $('#selectRepeticion').prop('disabled', false);
            } else {
                $('#selectRepeticion').prop('disabled', true);
            }
        });
    </script>

    <!-- Checkbox marcada en caso de que estémos en una update page -->
    <script>
        $(document).ready( function () {
            if(window.location.pathname.includes('updateEvento')){
                $("#customCheckbox1").prop("checked", true);
            }
        });
    </script>

    <!-- Activación de select2 -->
    <script>
        $('.form-select').select2({
            theme: "bootstrap4",
            language: 'es'
        });
    </script>




{% endblock %}








