{% extends 'body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.css' %}"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Moment -->
    <!-- AGREGAMOS PARA VER FORMATEAR LA FECHA A DD-MM-YYYY -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/moment-with-locales.js' %}"></script>
    <!-- dataTables Sorting -->
    <script src="{% static 'lib/datatables-sorting/datetime-moment.js' %}"></script>
    <!-- dataTables Clear Filter -->
    <script src="{% static 'lib/datatables-filter-clear/fnFilterClear.js' %}"></script>
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/locale/es.js' %}"></script>
    <!-- Select2 -->
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"
          rel="stylesheet"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/i18n/es.js' %}"></script>
    <!-- Tempus Dominus -->
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Archivo JS -->
    <script src="{% static 'productos/js/audit.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <label>Filtros: <i class="fas fa-angle-down showFilters"></i> </label>
            <div class="row" id="filters">
                <div class="form-group col-4">
                    <label>Productos:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectProducto" id="selectProducto"
                                name="selectProducto" aria-label="selectProducto">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label>Fechas:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="filterRangoFechas"
                               placeholder="Seleccione Rango de Fechas" aria-label="filterRangoFechas"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Accion:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectAccion" id="selectAccion"
                                name="selectAccion" aria-label="selectAccion">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Usuarios:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectUsuario" id="selectUsuario"
                                name="selectUsuario" aria-label="selectUsuario">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-1">
                    <label class="mb-4"></label>
                    <div class="card-row">
                        <button type="button" class="btn btn-danger btn-flat btnResetFilters"><i
                                class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table" id="data">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 5%;">ID</th>
                            <th scope="col" style="width: 15%;">Fecha y Hora</th>
                            <th scope="col" style="width: 45%;">Producto</th>
                            <th scope="col" style="width: 15%;">Accion</th>
                            <th scope="col" style="width: 15%;">Usuario</th>
                            <th scope="col" style="width: 5%;">Ver</th>
                        </tr>
                        </thead>
                        {% block rows %}

                        {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form id="reporteForm" method="post" action="." enctype="multipart/form-data">
                <a href="{{ list_url }}" class="btn btn-success btn-flat">
                    <i class="fas fa-sync"></i> Actualizar
                </a>
                <button type="submit" class="btn btn-info btn-flat btnReporte">
                    <i class="fas fa-file-pdf"></i> Generar Reporte
                </button>
            </form>
        </div>
    </div>
    <!-- Modal PRODUCTO -->
    <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="formProducto" enctype="multipart/form-data" method="post">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-search"></i> Ver movimiento </b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label>Categoría:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCategoria" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalCategoriaOld" style="color: red;">"</span>

                            </div>
                            <div class="form-group col-6">
                                <label>Subcategoría:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalSubcategoria" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalSubcategoriaOld" style="color: red;"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <div class="form-group col-6 mb-6">
                                    <label>Descripción:</label>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="modalDescripcion" readonly>
                                    </div>
                                    <span class="spanForm" hidden id="modalDescripcionOld" style="color: red;"> </span>
                                </div>
                                <div class="form-group col-4 mb-3">
                                    <label>Abreviatura:</label>
                                    <br>
                                    <div class="input-group col-9">
                                        <input type="text" class="form-control" id="modalAbreviatura" readonly>
                                    </div>
                                    <span class="spanForm" hidden class="col-12" id="modalAbreviaturaOld" style="color: red;"> </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-3 mb-3">
                                <label>Código:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCodigo" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalCodigoOld" style="color: red;"> </span>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label>Código Proveedor:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCodigoProveedor" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalCodigoProveedorOld" style="color: red;"> </span>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label>Código de Barras:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCodigoBarras1" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalCodigoBarras1Old" style="color: red;"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-3 mb-3">
                                <label>Stock:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalStockReal" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalStockRealOld" style="color: red;"> </span>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label>Stock Mínimo:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalStockMinimo" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalStockMinimoOld" style="color: red;"> </span>
                            </div>
                            <div class="form-group col-3 mb-3">
                                <label>Pedido Reposición:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalReposicion" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalReposicionOld" style="color: red;"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mb-3">
                                <label>Precio de Costo:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalCosto" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalCostoOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>Margen de Utilidad:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalUtilidad" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalUtilidadOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>Tipo de IVA:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalTipoIva" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalTipoIvaOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>Precio de Venta:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalPrecioVenta" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalPrecioVentaOld" style="color: red;"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mb-3">
                                <label>Ubicacion Física:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalUbicacion" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalUbicacionOld" style="color: red;"> </span>
                            </div>
                            <div class="col-3 mb-3">
                                <label>Observaciones:</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalObservaciones" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalObservacionesOld" style="color: red;"> </span>
                            </div>
                            <div class="col-1 mb-1">
                                <label> </label>
                                <br>
                            </div>
                            <div class="col-2 mb-3">
                                <label>¿Es Insumo?</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalEsInsumo" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalEsInsumoOld" style="color: red;"> </span>
                            </div>
                            <div class="col-2 mb-3">
                                <label>¿Descuenta Stock?</label>
                                <br>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalDescuentaStock" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalDescuentaStockOld" style="color: red;"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-6">
                                <label>Imagen:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="modalImagen" readonly>
                                </div>
                                <span class="spanForm" hidden id="modalImagenOld" style="color: red;"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}