{% extends 'body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Moment -->
    <!-- AGREGAMOS PARA VER FORMATEAR LA FECHA A DD-MM-YYYY -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/moment-with-locales.js' %}"></script>
    <!-- dataTables Sorting -->
    <script src="{% static 'lib/datatables-sorting/datetime-moment.js' %}"></script>
    <!-- dataTables Clear Filter -->
    <script src="{% static 'lib/datatables-filter-clear/fnFilterClear.js' %}"></script>
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/locale/es.js' %}"></script>
    <!-- Select2 -->
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/adminlte-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"
          rel="stylesheet"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/i18n/es.js' %}"></script>
    <!-- Tempus Dominus -->
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- archivo JS -->
    <script src="{% static 'trabajos/js/list.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
                {% if perms.trabajos.add_trabajos %}
                    <a href="#" class="btn btn-flat">
                        <i class="far fa-question-circle verAyuda" style="color:darkblue"></i>
                    </a>
                {% endif %}
            </h3>
        </div>
        <div class="card-body">
        {% if perms.trabajos.add_trabajos %}
            <label data-intro="Hacer click para visualizar los filtros">Filtros:
                <i class="fas fa-angle-down showFilters"></i> </label>
            <div class="row" id="filters">
                <div class="form-group col-3" data-intro="Seleccione del listado para filtrar por Clientes">
                    <label>Clientes:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectCliente" id="selectCliente"
                                name="selectCliente" aria-label="selectCliente">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-2" data-intro="Seleccione del listado para filtrar por Modelos">
                    <label>Modelos:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectModelo" id="selectModelo"
                                name="selectModelo" aria-label="selectModelo">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-3" data-intro="Seleccione el rango de fechas para filtrar">
                    <label>Fecha de Entrada:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="filterRangoFechas"
                               placeholder="Seleccione Rango de Fechas" aria-label="filterRangoFechas"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-group col-2"
                     data-intro="Seleccione del listado para filtrar por Usuario Asignado al Trabajo">
                    <label>Asignado a:</label>
                    <div class="input-group">
                        <select class="form-select form-control select2 selectUsuario" id="selectUsuario"
                                name="selectUsuario" aria-label="selectUsuario">
                            <option value="">---------</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-1" data-intro="Hacer click para limpiar los Filtros seleccionados">
                    <label class="mb-4"></label>
                    <div class="card-row">
                        <button type="button" class="btn btn-danger btn-flat btnResetFilters"><i
                                class="fas fa-times"></i> Filtros
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" id="filters2">
                <div class="col-2">
                    <div data-intro="Tildar para excluir los trabajos finalizados"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input excluirFinalizados"
                               id="excluirFinalizados">
                        <label class="custom-control-label" for="excluirFinalizados"> Excluir Finalizados</label>
                    </div>
                </div>
                <div class="col-2">
                    <div data-intro="Tildar para excluir los trabajos entregados"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input excluirEntregados"
                               id="excluirEntregados">
                        <label class="custom-control-label" for="excluirEntregados"> Excluir Entregados</label>
                    </div>
                </div>
                <div class="col-2">
                    <div data-intro="Tildar para excluir los trabajos cancelados"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input excluirCancelados"
                               id="excluirCancelados">
                        <label class="custom-control-label" for="excluirCancelados"> Excluir Cancelados</label>
                    </div>
                </div>
            </div>
            <hr id="filters1">
            <div class="row" id="filters3">
                <div class="col-2">
                    <div data-intro="Tildar para ver los trabajos en estado planificado"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input verPlanificados"
                               id="verPlanificados">
                        <label class="custom-control-label" for="verPlanificados"> Ver Planificados</label>
                    </div>
                </div>
                <div class="col-2">
                    <div data-intro="Tildar para ver los trabajos en estado en proceso"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input verEnProceso"
                               id="verEnProceso">
                        <label class="custom-control-label" for="verEnProceso"> Ver en Proceso</label>
                    </div>
                </div>
                <div class="col-2">
                    <div data-intro="Tildar para ver los trabajos en estado finalizado"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input verFinalizados"
                               id="verFinalizados">
                        <label class="custom-control-label" for="verFinalizados"> Ver Finalizados</label>
                    </div>
                </div>
                <div class="col-2">
                    <div data-intro="Tildar para ver los trabajos en estado pendiente"
                         class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input verPendientes"
                               id="verPendientes">
                        <label class="custom-control-label" for="verPendientes"> Ver Pendientes</label>
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-12">
                    <br>
                    <table class="table" id="data" data-intro="Se visualiza el {{ title }}.
            Se puede filtrar los datos escribiendo en 'Buscar'. Se puede ordenar las columnas que posean las &#8645;">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 4%;">ID</th>
                            <th scope="col" style="width: 4%;">Estado</th>
                            <th scope="col" style="width: 4%;">Avance</th>
                            <th scope="col" style="width: 11%;">Entrada</th>
                            <th scope="col" style="width: 11%;">Salida</th>
                            <th scope="col" style="width: 11%;">Modelo</th>
                            <th scope="col" style="width: 20%;">Cliente</th>
                            <th scope="col" style="width: 12%;">Usuario Asignado</th>
                            <th scope="col" style="width: 23%;"
                                data-intro="Opciones de Listado. Ver detalle Trabajo. Generar PDF Trabajo. Modificar Trabajo. Finalizar Trabajo. Entregar Trabajo. Cancelar Trabajo">
                                Opciones
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% block rows %}

                        {% endblock %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form id="reporteForm" method="post" action="." enctype="multipart/form-data">
                {% if perms.trabajos.add_trabajos %}
                    <a href="{{ create_url }}" class="btn btn-primary btn-flat"
                       data-intro="Crear un nuevo registro de {{ entity }}">
                        <i class="fas fa-plus"></i> Nuevo registro
                    </a>
                {% else %}
                    <input type="hidden" name="soloModificar" value="SI">
                {% endif %}
                <a href="{{ list_url }}" class="btn btn-success btn-flat"
                   data-intro="Actualizar el listado de {{ entity }}">
                    <i class="fas fa-sync"></i> Actualizar
                </a>
                {% if perms.trabajos.add_trabajos %}
                    <button type="submit" class="btn btn-info btn-flat btnReporte"
                            data-intro="Generar reporte de {{ entity }}">
                        <i class="fas fa-file-pdf"></i> Generar Reporte
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
    <!-- Modal Cancelar Trabajo -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="submitModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjErrorModal">¿Estás seguro de cancelar el Trabajo?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btnDelete">Si</button>
                    <button type="button" class="btn btn-danger btnNo" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Detalle Trabajo -->
    <div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-tasks"></i> Detalle de
                        Trabajo</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="rowProductos">
                        <div class="col-lg-12">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de productos</h3>
                                </div>
                                <table class="table table-bordered" id="tablaProductos">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 40%;">Producto</th>
                                        <th scope="col" style="width: 30%;">Observaciones</th>
                                        <th scope="col" style="width: 10%;">Estado</th>
                                        <th scope="col" style="width: 8%;">Importe</th>
                                        <th scope="col" style="width: 4%;">Cantidad</th>
                                        <th scope="col" style="width: 8%;">Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="rowServicios">
                        <div class="col-lg-12">
                            <div class="card card-secondary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de Servicios</h3>
                                </div>
                                <table class="table table-bordered" id="tablaServicios">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 40%;">Servicio</th>
                                        <th scope="col" style="width: 30%;">Observaciones</th>
                                        <th scope="col" style="width: 10%;">Estado</th>
                                        <th scope="col" style="width: 8%;">Importe</th>
                                        <th scope="col" style="width: 4%;">Cantidad</th>
                                        <th scope="col" style="width: 8%;">Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        //Llamamos a la funcion de Token
        getToken(name);

        //Funcion para Eliminar mediante AJAX
        function btnEliminar(id, href) {
            // Reactivación de botón y mensaje a default.
            $('.btnDelete').attr('style', 'visibility: true');
            $('.btnNo').text("No");
            $('#msjErrorModal')[0].innerHTML = '¿Estás seguro de cancelar el Trabajo?';
            $('.btnDelete').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: href,
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'action': 'delete',
                        'pk': id,
                    },
                    success: function (data) {
                        // Control de eliminación de un registro que es dependencia de otros.
                        if (data.check === 'ok') {
                            location.replace(data.redirect);
                        } else if (data.error === 'FOREIGN KEY constraint failed') {
                            $('#msjErrorModal')[0].innerHTML = 'El registro que desea eliminar posee otros registros asociados. <br><br>' +
                                '<strong>No puede ser eliminado</strong>'
                            $('.btnDelete').attr('style', 'visibility: hidden');
                            $('.btnNo').text("Volver");
                            // En caso de que la Exception sea por otra cosa
                        } else {
                            if (data.error === undefined) {
                                $('#exampleModalLabel').text('Error');
                                $('#msjErrorModal')[0].innerHTML = 'No posee permisos suficientes para realizar dicha operación';
                            } else {
                                $('#msjErrorModal')[0].innerHTML = 'Ha ocurrido un error inesperado. Contacte al administrador <br><br>' + data.error;
                            }
                            $('.btnDelete').attr('style', 'visibility: hidden');
                            $('.btnNo').text("Volver");
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}
