{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Header -->
        {% include 'header.html' %}
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- Content -->
        <div class="content-wrapper">
            <!-- Content-Header -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> Bienvenido <small>{{ request.user.username }}</small></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right font-weight-bold">
                                <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Block Content -->
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

        {% include 'footer.html' %}
        <!-- /.control-sidebar -->
    </div>
    {% block javascript %}

    {% endblock %}

    <!-- modal de detalle -->
    <div class="modal fade" id="modal-lg-eventos-notif" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalle de Evento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-2 row">
                        <div class="col-6">
                            <strong>TIPO EVENTO </strong>
                            <i>
                                <p id="modal_tipo_evento_notif"></p>
                            </i>
                            <strong>DESCRIPCIÓN </strong>
                            <i>
                                <p id="modal_descripción_notif"></p>
                            </i>
                        </div>
                        <div class="col-6">
                            <strong>FECHA DE NOTIFICACIÓN </strong>
                            <i>
                                <p id="modal_fecha_notif_notif"></p>
                            </i>
                              <strong>NOTIFICADO MEDIANTE </strong>
                            <i>
                                <p id="modal_mediante_notif"></p>
                            </i>
{#                            <strong>REPETICIÓN</strong>#}
{#                            <i>#}
{#                                <p id="modal_repeticion_notif"></p>#}
{#                            </i>#}
                        </div>
                        <div class="col-6">
{#                            <strong>USUARIOS ASOCIADOS </strong>#}
{#                            <i>#}
{#                                <p id="modal_user_asoc_notif"></p>#}
{#                            </i>#}
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <!-- cambiar a dubmit dsp -->
                            <button type="button" id="btnCumplido" evento_id="" class="btn btn-success btn-flat btn-block">
                                <i class="fas fa-check"></i> ¡Evento cumplido!
                            </button>
                        </div>

                        <div class="col-4">
                            <button type="button"  id="btnDel" evento_id="" data-toggle="modal" data-target="#deleteModal" class="btn btn-info btn-flat btn-block">
                                <i class="fab fa-telegram-plane"></i> Recordar por Telegram
                            </button>
                        </div>

                        <div class="col-4">
                            <button type="button" data-dismiss="modal" class="btn btn-warning btn-flat btn-block">
                                <i class="fas fa-times-circle"></i> Descartar Notificación
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- funcion de pruebas. Solamente usada para enviar request cada rato. SE DEBE BORRAR -->
    <script>
        function requestPrueba (){
            $.ajax({
                url: '/agenda/list/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'prueba',
                    'user': "{{ request.user.id }}",
                },
            });

        }
        var actualizador = setInterval(requestPrueba, 20000);

    </script>

    <script src="{% static 'lib/adminlte-3.1.0/plugins/toastr/toastr.min.js' %}"> </script>
    <script>
        getToken(name)

        function nuevasNotif() {
            $('#navPrincipal').attr('class', 'main-header navbar navbar-expand navbar-white navbar-light')
            $.ajax({
                url: '/agenda/list/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'prueba2',
                    'user': "{{ request.user.id }}",
                },
                success: function (data) {
                    console.log("RESPUESTA" + data)
                    //limpiarNotif();
                    //limpiarIcon();

                    // Vemos si hay nuevos ev para notificar
                    listaNotif.innerHTML = '';
                    for (let prop in data){
                        console.log(data)
                        // Notificaciones que, valga al redundancia, van a ser notificadas
                        if (data[prop][0] === 'notificar') {
                            console.log("hola");
                            console.log(data[prop][0]);
                            toastr.info('¡Tiene nuevas notificaciónes!');
                            agregarNotifPendiente(prop, data[prop][1]);
                            mostrarIcon();
                        }
                        // Notificaciones que solo van a ser agregadas a la lista porque ya se vieron
                        else if (data[prop][0] === 'no_notificar'){
                            agregarNotif(prop, data[prop][1]);
                        }
                        // Notificaciones que se notificaron pero el user no vió aún
                        else if (data[prop][0] === 'no_notificar_pendiente'){
                            agregarNotifPendiente(prop, data[prop][1]);
                            mostrarIcon();
                        }
                        else if (data[prop][0] === 'notificar_heavy') {
                            console.log("hola");
                            toastr.error('¡Tiene una nueva notificación URGENTE!');
                            agregarNotifUrgente(prop, data[prop][1]);
                            mostrarIcon();
                        }

                    }
                }

            });
        }

        function agregarNotif(id_evento, tipo_evento){
            var listaNotif = document.getElementById("listaNotif");
            var notifElement = '<div class="dropdown-divider"></div>'+'<a onclick="detalleNotif(this)" eventoRef='+'"'+ id_evento+'"' +'class="elementoNotificacion dropdown-item"><i class="fas fa-bell mr-2"></i>¡Recuerde! Evento de tipo ' + tipo_evento + '</a>';
            listaNotif.insertAdjacentHTML('afterbegin', notifElement);
        }

        function agregarNotifUrgente(id_evento, tipo_evento){
            $('#navPrincipal').attr('class', 'main-header navbar navbar-expand bg-danger color-palette navbar-light');
            var listaNotif = document.getElementById("listaNotif");
            var notifElement = '<div class="dropdown-divider"></div>'+'<a onclick="detalleNotif(this)" eventoRef='+'"'+ id_evento+'"' +'class="elementoNotificacion bg-danger color-palette dropdown-item"><i class="fas fa-bell mr-2"></i>¡Recuerde! Evento de tipo ' + tipo_evento + '</a>';
            listaNotif.insertAdjacentHTML('afterbegin', notifElement);
        }

        function agregarNotifPendiente(id_evento, tipo_evento){
            var listaNotif = document.getElementById("listaNotif");
            var notifElement = '<div class="dropdown-divider"></div>'+'<a onclick="detalleNotif(this)" eventoRef='+'"'+ id_evento+'"' +'class="elementoNotificacion bg-info color-palette dropdown-item"><i class="fas fa-bell mr-2"></i>¡Recuerde! Evento de tipo ' + tipo_evento + '</a>';;
            listaNotif.insertAdjacentHTML('afterbegin', notifElement);
        }

        function limpiarNotif() {
            var listaNotif = document.getElementById("listaNotif");
            listaNotif.innerHTML = '';
            var defaultElement = '<div class="dropdown-divider"></div> <a class="dropdown-item"><i class="fas fa-bell mr-2"></i>No hay nuevas notificaciones</a>';
            listaNotif.insertAdjacentHTML('afterbegin', defaultElement);
        }

        function limpiarIcon(){
            var iconNotif = document.getElementById("iconNotifID");
            iconNotif.innerHTML = '';
        }

        function mostrarIcon (){
            var iconNotif = document.getElementById("iconNotifID");
            iconNotif.innerHTML = '';
            var iconElement = '<i class="fas fa-exclamation"></i>'
            iconNotif.insertAdjacentHTML('afterbegin', iconElement);
        }

        // var actualizador = setInterval(nuevasNotif, 10000);

        // Ejecutamos la funcion cada vez que le página se actualiza
        $(document).ready(function() {
            nuevasNotif();
        })
    </script>

    <script>
        /*  Vuelve la nav-bar a su estado default cuando se cliquea en el icon de notif
        *   Tambien elimina el ícono de notificaciones pendientes   */
        $('#fatherListElement').on('click', function() {

            if ($('#navPrincipal').attr('class').search('bg-danger color-palette') !== -1) {
                $('#navPrincipal').attr('class', 'main-header navbar navbar-expand bg-danger color-palette navbar-light');
            }

            limpiarIcon();

        });
    </script>

    <script>
        /* Ubica detalle de evento en modal */
        function detalleNotif (elemento){
            elemento.setAttribute("class", "elementoNotificacion dropdown-item"); // sacamos su color (rojo o azul)
            $.ajax({
                url: '/agenda/list/', // Es mejor hardcodear esto que pasarle A TOOODOS los templates un contextdata
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'detail_evento',
                    'pk': elemento.getAttribute("eventoref"),
                    'user': "{{ request.user.id }}",
                },
                success : function (data){
                    console.log("hola");
                    document.getElementById('modal_tipo_evento_notif').innerHTML = data.tipoEvento;
                    document.getElementById('modal_descripción_notif').innerHTML = data.descripcion;

                    // var usuariosAsoc = "";
                    {#// Procesamos usuarios asociados para convertir en string agradable#}
                    {#for (let i = 0; i <= data.userAsoc.length-1; i++){#}
                    {#    usuariosAsoc += data.userAsoc[i] + ",";#}
                    {# } #}


                    document.getElementById('modal_fecha_notif_notif').innerHTML = data.fechaNotif;

                    {#// Procesamos repetición para string agradable en español#}
                    {#switch(data.repeticion) {#}
                    {#    case 'daily':#}
                    {#        data.repeticion = 'Diaria';#}
                    {#        break;#}
                    {#    case 'weekly':#}
                    {#        data.repeticion = 'Semanal';#}
                    {#        break;#}
                    {#    case 'monthly':#}
                    {#        data.repeticion = 'Mensual';#}
                    {#        break;#}
                    {#    default:#}
                    {#        data.repeticion = 'Única';#}
                    {# }#}

                    // Procesamos canales de notificacion para convertir en string agradable
                    let notifMsj = "";
                    for (let i = 0; i <= 1; i++){
                        if(data.notifMediante[i][1] === true){
                            notifMsj = notifMsj + data.notifMediante[i][0] + " | ";
                        }
                     }
                    document.getElementById('modal_mediante_notif').innerHTML = notifMsj.slice(0, -2);

                    /* Mostramos modal */
                    $('#modal-lg-eventos-notif').modal('show');

                    /* Ponemos id_evento en botón de evento cumplido */
                    $('#btnCumplido').attr('evento_id', elemento.getAttribute("eventoref"));

                }
            });
        }
    </script>

    <script>
        /*   Marca que un evento ha sido cumplido lo que implica que
             el mismo no será notificado nuevamente.       */
        $('#btnCumplido').on('click', function(){

            $.ajax({
                url: '/agenda/list/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'evento_cumplido',
                    'pk':this.getAttribute("evento_id"),
                    'user': "{{ request.user.id }}",
                },
            });

            // Escondemos modal
            $('#modal-lg-eventos-notif').modal('hide');
            $('#navPrincipal').attr('class', 'main-header navbar navbar-expand navbar-light');


        });
    </script>

    </body>
{% endblock %}