{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Header -->
        {% include 'header.html' %}
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- Content -->
        <div class="content-wrapper">
            <!-- Content-Header -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> Bienvenido <small>{{ request.user.username }}</small></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right font-weight-bold">
                                <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Block Content -->
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

        {% include 'footer.html' %}
        <!-- /.control-sidebar -->
    </div>

    {% block javascript %}


    {% endblock %}

    <script src="{% static 'lib/adminlte-3.1.0/plugins/toastr/toastr.min.js' %}"> </script>
    <!-- Probablemente se borre. Por el momento no realiza ninguna acción.  -->
    <!-- Su proposito inicial era el de mandar request cada tanto al servidor -->
    <script>
        getToken(name)
        function nuevasNotif() {
            var iconNotif = 0;
            document.getElementById('cantNotifIcon').innerHTML = "";
            $.ajax({
                url: '/agenda/list/',
                type: 'POST',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'get_news'
                },
                success: function (data) {
                    console.log(data);
                    limpiarNotif()


                    // Vemos si hay nuevos ev para notificar
                    for (let prop in data){
                        if (data[prop] === 'notificar') {
                            toastr.info('¡Tiene nuevas notificaciónes!');
                            iconNotif = iconNotif + 1;
                        }
                        console.log(data.id);
                        console.log(data['no_notificar']);
                    }

                    document.getElementById('cantNotifIcon').innerHTML = iconNotif;
                }
            });
        }

        function agregarNotif(id_evento){
            var listaNotif = document.getElementById("listaNotif");
            listaNotif.innerHTML = '';
            var notifElement = '<div class="dropdown-divider"></div>'+'<a enventoRef='+'"'+ id_evento+'"' +'class="bg-info color-palette dropdown-item"><i class="fas fa-bell mr-2"></i>¡Nueva notificación sin leer!</a>';
            listaNotif.insertAdjacentHTML('afterbegin', notifElement);
        }

        function limpiarNotif() {
            var listaNotif = document.getElementById("listaNotif");
            listaNotif.innerHTML = '';
            var defaultElement = '<div class="dropdown-divider"></div> <a class="dropdown-item"><i class="fas fa-bell mr-2"></i>No hay nuevas notificaciones</a>';
            listaNotif.insertAdjacentHTML('afterbegin', defaultElement);
        }
        // var actualizador = setInterval(nuevasNotif, 10000);
    </script>

    <script>
        {#$('#fatherListElement').click(function limpiarNotif(){#}
        {#    var listaNotif = document.getElementById("listaNotif");#}
        {#    listaNotif.innerHTML = '';#}
        {#    id_evento = 3;#}
        {#    var notifElement = '<div class="dropdown-divider"></div>'+'<a enventoRef='+'"'+ id_evento+'"' +'class="bg-info color-palette dropdown-item"><i class="fas fa-bell mr-2"></i>¡Nueva notificación sin leer!</a>';#}
        {#    listaNotif.insertAdjacentHTML('afterbegin', defaultElement);#}
        {# }); #}
    </script>
    </body>
{% endblock %}