{% extends 'body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}
{% block content %}
    <form id="ajaxForm" method="post" action="." enctype="multipart/form-data">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}

                {#Error en el Formulario#}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}:</label>
                        {{ field| add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                {#Mensaje de error#}
                <div hidden id="ErrorDuplicado" class="mt-3 alert alert-danger alert-dismissible">
                    <p><i class="icon fas fa-ban"></i>Error! ya existe un registro con ese nombre</p>
                </div>
                {% if action == 'add' %}
                    <button type="submit" id="btnAdd" class="btn btn-primary btn-flat btnAdd">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                {% else %}
                    <button type="submit" id="btnEdit" class="btn btn-primary btn-flat btnEdit">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                {% endif %}
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>

            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de realizar la siguiente acción?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Si</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Error Eliminar Clave Foranea-->
        <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>No se puede eliminar</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Si</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        //Ocultamos el campo de ERROR Duplicado
        $('#id_nombre').on('focus', function () {
            $('#ErrorDuplicado').attr("hidden", "");
        });
        //Llamamos a la funcion de Token
        getToken(name);
        //Hacemos el envio del Formulario mediante AJAX
        $("#ajaxForm").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: window.location.href,
                type: 'POST',
                data: new FormData(this),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (!data.hasOwnProperty('error')) {
                        location.replace(data.redirect);
                    } else {
                        $("#ErrorDuplicado").removeAttr("hidden");
                    }
                }
            });
        });

    </script>
{% endblock %}
