{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home:home' %}" class="brand-link">
        <img src="{% static 'img/logo.JPG' %}"
             alt="SUR Logo"
             class="brand-image img-lg elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">S.U.R.</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Buscar"
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Agenda -->
                <li class="nav-item has-treeview">
                    <a href="" class="nav-link">
                        <i class="far fa-calendar nav-icon"></i>
                        <p>
                            Agenda
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'agenda:dashboard' %}" class="nav-link">
                                <i class="far fa-calendar-check nav-icon"></i>
                                <p>Eventos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'agenda:tiposEventoList' %}"" class="nav-link">
                            <i class="far fa-calendar-alt nav-icon"></i>
                            <p>Tipos de Eventos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Ventas -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Ventas
                        </p>
                    </a>
                </li>
                <!-- Compras -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-pallet"></i>
                        <p>
                            Compras
                        </p>
                    </a>
                </li>
                <!-- Clientes -->
                <li class="nav-item has-treeview">
                    <a href="{% url 'erp:clientes_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>

                <!-- Proveedores -->
                <li class="nav-item has-treeview">
                    <a href="{% url 'erp:proveedores_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-people-carry"></i>
                        <p>
                            Proveedores
                        </p>
                    </a>
                </li>

                <!-- Stock -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-dolly"></i>
                        <p>
                            Productos y Servicios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                        <li class="nav-item">
                            <a href="{% url 'erp:categorias_list' %}" class="nav-link">
                                <i class="fas fa-boxes nav-icon"></i>
                                <p>Categorías</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:subcategorias_list' %}" class="nav-link">
                                <i class="fas fa-box nav-icon"></i>
                                <p>Subcategorías</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:productos_list' %}" class="nav-link">
                                <i class="fas fa-box-open nav-icon"></i>
                                <p>Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:servicios_list' %}" class="nav-link">
                                <i class="fas fa-tasks nav-icon"></i>
                                <p>Servicios</p>
                            </a>
                        </li>
                        </li>
                    </ul>
                </li>
                <!-- Sistema -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Sistema
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-university nav-icon"></i>
                                <p>
                                    Parametrización
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Datos Empresa</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tipos de Comprobantes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'parametros:condicionesPago_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Condiciones de Pago</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'parametros:tiposIVA_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tipos de IVA</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'parametros:condicionesIVA_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Condición frente al IVA</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-globe-americas nav-icon"></i>
                                <p>
                                    Geográfico
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'geografico:paises_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Paises</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'geografico:provincias_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Provincias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'geografico:localidades_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Localidades</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>
                                    Usuarios
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'usuarios:usuarios_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'usuarios:tipos_usuarios_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tipos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>