{% extends 'body.html' %}
{% load static %}
{% block head %}
    <!-- Moment -->
    <!-- AGREGAMOS PARA VER FORMATEAR LA FECHA A DD-MM-YYYY -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/moment-with-locales.js' %}"></script>
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.css' %}">
    <script src="{% static 'lib/adminlte-3.1.0/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/moment/locale/es.js' %}"></script>
    <!-- Libreria Highcharts -->
    <script src="{% static 'lib/highcharts-9.3.1/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.3.1/modules/series-label.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.3.1/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.3.1/modules/export-data.js' %}"></script>
    <!-- Graficos -->
    <script src="{% static 'servicios_mas_realizados.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-pie"></i>
                {{ title }}
                <a href="#" class="btn btn-flat">
                    <i class="far fa-question-circle verAyuda" style="color:darkblue"></i>
                </a>
            </h3>
        </div>
        <div class="card-body">
            <div class="row" id="filters">
                <div class="form-group col-3" data-intro="Seleccione el rango de fechas para filtrar">
                    <label>Fechas:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="filterRangoFechas"
                               placeholder="Seleccione Rango de Fechas" aria-label="filterRangoFechas"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-group col-9">
                    <label class="mt-3"></label>
                    <div class="card-row">
                        <button type="button" class="btn btn-info btn-flat btnImprimir"
                                onclick="window.print()"
                        data-intro="Hacer click para generar el Reporte de {{ entity }}">
                            <i class="fas fa-print"></i> Imprimir
                        </button>
                        <button class="btn btn-success btn-flat btnXLS" type="button"
                        data-intro="Hacer click para descargar la hoja de cálculo del Reporte de {{ entity }}">
                            <i class="fas fa-file-excel"></i> Descargar
                        </button>
                        <button class="btn btn-danger btn-flat btnCleanFiltros" type="button"
                                data-intro="Hacer click para limpiar los Filtros seleccionados">
                            <i class="fas fa-times"></i> Limpiar filtros
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="container"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}