{% extends 'body.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'completoNotificaciones/js/list.js' %}"></script> <!-- si lo renombro a list.js NO ANDA (??????) -->
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.css' %}"/>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- dataTables Boton PDF -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}
                    <tr>
                        <th scope="col" style="width: 5%;">Notificacion</th>
                        <th scope="col" style="width: 25%;">Titulo</th>
                        <th scope="col" style="width: 10%;">Notificada el</th>
                        <th scope="col" style="width: 5%;">Estado</th>
                        <th scope="col" style="width: 5%;">Opciones</th>
                    </tr>
                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- modal de detalle -->
    <div class="modal fade" id="modal-lg-notif-detalle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalle de Notificación</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <strong>NOTIFICACIÓN N° </strong>
                            <i>
                                <p id="modal_id_notif"></p>
                            </i>
                            <strong>FECHA NOTIFICADA </strong>
                            <i>
                                <p id="modal_fecha_notif"></p>
                            </i>
                            <strong>ESTADO </strong>
                            <i>
                                <p id="modal_estado_notif"></p>
                            </i>
                        </div>
                        <div class="col-6">
                            <strong>TÍTULO </strong>
                            <i>
                                <p id="modal_titulo_notif"></p>
                            </i>
                            <strong>FECHA DE REVISIÓN </strong>
                            <i>
                                <p id="modal_fecharevision_notif"></p>
                            </i>
                            <strong>NOTIFICADA A </strong>
                            <i>
                                <p id="modal_usernotif_notif"></p>
                            </i>
                        </div>
                        <div class="col-12">
                            <strong>DESCRIPCIÓN </strong>
                            <i>
                                <p id="modal_descripcion_notif"></p>
                            </i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="" class="btn btn-info btn-flat btn-block"
                                    data-dismiss="modal">
                                <i class="fas fa-check"></i> ¡OK!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="application/javascript">
        //Llamamos a la funcion de Token
        getToken(name);

        function detalleNotificacion(row){
            $.ajax({
                url: "{{ notifi_list_url }}",
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'action': 'detalle_notif_completo',
                    'pk': row.id,
                },
                success: function (data) {
                    console.log(data[0]);
                    document.getElementById('modal_id_notif').innerHTML = data[0].id;
                    document.getElementById('modal_fecha_notif').innerHTML = data[0].fechaNotificacion;
                    document.getElementById('modal_estado_notif').innerHTML = data[0].estado;
                    document.getElementById('modal_titulo_notif').innerHTML = data[0].titulo;
                    document.getElementById('modal_fecharevision_notif').innerHTML = data[0].fechaRevisionUser;
                    document.getElementById('modal_usernotif_notif').innerHTML = data[0].enviadoAUser;
                    document.getElementById('modal_descripcion_notif').innerHTML = data[0].descripcion;
                    $('#modal-lg-notif-detalle').modal('show');
                }
            });
        }

    </script>
{% endblock %}

{% block javascript %}

{% endblock %}