{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    {% block head_form %}
        <link href="{% static 'lib/adminlte-3.1.0/plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'lib/adminlte-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}"
              rel="stylesheet"/>
        <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'lib/adminlte-3.1.0/plugins/select2/js/i18n/es.js' %}"></script>
        <script src="{% static 'provincias/js/form.js' %}"></script>
    {% endblock %}
{% endblock %}

